p{
    margin: 0;
    font-family: Roboto, Arial;
}

body{
    padding-bottom: 100px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.content{
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.whatsapp{
    position: fixed;
    bottom: 50px;
    right: 70px;
    cursor: pointer;
}

.whatsapp-icon{
    height: 100px;
    transition-duration: 0.5s;
}

.whatsapp-icon:hover{
    height: 110px;
}

.services-grid{
    display: grid;
    grid-template-columns: 210px 210px 210px;
    grid-column-gap: 100px;
}

.service{
    padding: 10px;
    margin-top: 60px;
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.25);
    border-radius: 10px;
    height: 245px;
    overflow: hidden;
    transition-duration: 0.5s;
    cursor: pointer;
}

.service:hover{
    height: 350px;
}

.service-img{
    height: 198px;
}

.service-title-grid{
    display: grid;
    grid-template-columns: 140px 1fr;
    grid-column-gap: 5px;
}

.service-title{
    color: red;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.large-title-formatation{
    font-size: 20px;
}

.large-title-formatation-midias{
    font-size: 23px;
}

.add{
    color: red; 
    font-size: 18px; 
    font-weight: 700;
    margin: 0;
    cursor: pointer;
    transition-duration: 0.5s;
}

.add:hover{
    font-size: 25px;
    padding: 0px 1px 0px 1px;
}

.add-service{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.add-service-button{
    border: 0.3px solid rgb(171, 169, 169);
    box-shadow: 0 0 5px rgba(50, 50, 50, 0.25);
    padding: 0.2px 6px 0.2px 6px;
    border-radius: 8px;
}

.service-subtitle{
    margin-bottom: 9px;
}

.service-subtitle-formatation{
    margin-top: 25px;
}

.service-subtittle-text{
    color: rgb(141, 139, 139);
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    word-spacing: 1px;
}

.line-height-adjust{
    line-height: 22px;
}

