.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: white;
    border-bottom: 1px solid rgb(160, 158, 158);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.header-logo{
    height: 90px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.right-section{
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.left-section{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.icons{
    height: 30px;
    margin: 15px;
    cursor: pointer;
}

.fale-conosco-container .feedback-container .facebook-container .instagram-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-container .tooltip, .fale-conosco-container .tooltip, .facebook-container .tooltip, .instagram-container .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -15px;
    opacity: 0;
    transition: 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.feedback-container:hover .tooltip, .fale-conosco-container:hover .tooltip, 
.facebook-container:hover .tooltip, .instagram-container:hover .tooltip{
    opacity: 1;
}